.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: scroll;
  background: radial-gradient(
    circle at -4% -12.9%,
    rgb(74, 98, 110) 0.3%,
    rgb(30, 33, 48) 90.2%
  );
}

.particleFrame {
  /* position: relative; */
  position: absolute;
  display: block;
  background: #040625;
  overflow: hidden;
  border-radius: 5px;
}

.particle-1,
.particle-2 {
  display: block;
  position: absolute;
}

/*  Color  Variations */
.particle-1 {
  background-color: #ff5434;
}
.particle-2 {
  background-color: #cc1e2c;
}
