.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

.align-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.justify-center {
  justify-content: center;
}

.bottom-0 {
  bottom: 0;
}
