@keyframes FadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-slide-up {
  animation: FadeSlideUp 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: both;
}
